.homePage {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #baffee;
}

.postContents{
  width: 600px;
  height: auto ;
  max-height: 600px;
  background-color: #ffffff;
  box-shadow: 5px 9px 15px -5px #777777;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.postHeader h1{
 text-align: center;
 margin-top: 5px; 
}

.postTextontainer{
  height: auto ;
  word-wrap: break-word;
  max-height: 400px;
  width: 100%;
}

.nameAndDeleteButton{
  display: flex;
  align-items: center;

}




.nameAndDeleteButton button{
  flex: 10%;
  background-color: #e96969;
  color: #ffffff;
  padding: 7px 15px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: all .3s;
}

.nameAndDeleteButton button:hover{
  background-color: #ff2e2e;
}

.nameAndDeleteButton h3{
  flex: 90%;
  
}